<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class='container'>
	<header>
		<% include ../partials/header %>
	</header>
		<h1>Albums by <%= artist %></h1>
		<% for (albumId in albumInfo) { %>
			<% var album = albumInfo[albumId] %>
			<h3><%= album.albumName %></h3>
			<img src='<%= album.coverArt %>'>
			<h6>(Released: <%= album.releaseDate %> )</h6>
			<ol>
				<% album.tracks.forEach(function(track) { %>
					<li><%= track.name %>  (Popularity: <%= track.popularity %>)</li>
					
				<% }) %>
			</ol>
		<%	} %>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>

