<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body class='container'>
	<header>
		<% include ../partials/header %>
	</header>
		<h1>Albums by <%= albumData.name %></h1>
		<ul>
			<% albumData.allAlbumAndTrackData.forEach(function(album) { %>
				<li>
					<h3><%= album.name %></h3>
					<h6>(Released: <%= album.releaseDate %> )</h6>
					<img src='<%= album.coverArtUrl %>'>
					<ol>
						<% album.tracks.forEach(function(track) { %>
							<li><%= track %></li>
						<% }) %>
					</ol> 
				</li>
			<% }) %>
		</ul> 
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>

